body{
 background-image: url("background.jpg");
 height: 100vh;
align-items: center;
 
}
.score {
    background-color: rgb(5, 15, 5); 
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    border: 2px solid;
    border-radius: 14px;
    
}
.player_scores {
    text-align: center;
    display: inline-block;
    margin-right: 20px; 
}
.player_scores p{
    color: aliceblue;
}
#newGameBtn {
    margin-top: 20px; 
    background-color: #265728; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
#newGameBtn:hover {
    background-color: #45a049; 
}

.container{
    
    background-image: url("gamearena.avif");
    width: 1275px;
    height: 380px;
    padding: 45px;
    border: 2px solid;
    border-radius: 14px;
    
}
.result_field{
    display: flex;
    align-items: center;
    justify-content: center;
     column-gap: 18rem;
     
}
.result_field img{
    width: 200px;
   
}
.result_field p{
    font-size: 5rem;
    color: rgb(100, 0, 0);
    margin-top: 5rem;
}
.user_result img{
    float: left;
 
}
.option{
    text-align: center;
    font-size: 2rem;
    color: rgb(56, 110, 56);
    margin-bottom: 9rem;
    
}

.option_images{
    display: flex;
    align-items: center;
    margin-top: -7rem;
    justify-content: space-between;
}

.option_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.option_image:hover{
    opacity: 1;
}
.option_image:active{
    opacity: 1;
}
.option_image img{ 
    width: 50px;
    pointer-events: none;
    align-items: center;
}
.option_image p{
    color: rgb(100, 0, 0);
    font-size: 2rem;
    margin-top: 1rem;
    pointer-events: none;
}
   